body {
    padding: 0px;
    margin: 0px;
    font-family: 'tanHsinFont_FD', 'writesTaiWeb_FD';
    font-size: 36px;
    background-image: url('../images/bg.png');
    background-repeat: repeat;
    height: 100vh;
    display: flex;
}

/* 我們都愛繼承 */
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
}

@font-face {
    font-family: 'writesTaiWeb_FD';
    src:
        url('../fonts/writesTaiWeb_FD.ttf') format("ttf"),
        url('../fonts/writesTaiWeb_FD.woff2')format("woff2")
}

@font-face {
    font-family: 'tanHsinFont_FD';
    src:
        url('../fonts/tanHsinFont_FD.ttf') format("ttf"),
        url('../fonts/tanHsinFont_FD.woff2')format("woff2")
}

@font-face {
    font-family: 'TW-Kai';
    src:
        url('../fonts/TW-Kai-98_1.ttf') format("truetype")
}

@font-face {
    font-family: 'font_851tegakizatsu';
    src:
        url('../fonts/font_851tegakizatsu.ttf') format("truetype")
}

table {
    width: 100%;
    white-space: pre-wrap;
    border: 1px solid black;
}

th,
td {
    border: 1px solid black;
    text-align: left;
    /* padding: 5px; */
    font-weight: normal;
}

a {
    display: block;
}

.caseInfo {
    font-size: 24px;
}

.caseTitle {
    font-size: 36px;
}